{% extends 'ittool/base.html' %}
{% load static %}


{% block title %}ITTOOLS - About{% endblock title %}

{% block content %}
<img src="{% static 'ittool/images/code2.png' %}" class="background-image">
<div class="about">
    <p class="about-text">ITOOLS was developed by:</p>
    <p class="about-text">TheHakerTech (theaihopgg)</p>
    <p class="about-text">An72ty (an72_)</p>
    <br>
    <a class="about-text">The website was developed by:</a>
    <p class="about-text">An72ty (an72_)</p>
    <br>
    <p class="about-text">Above are the nicknames in github and in brackets the nicknames in discord</p>
</div>
{% endblock content %}