{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}ITTOOLS{% endblock title %}</title>
</head>

<body>
    <ul class="nav-bar">
        <li class="nav-item logo"><a href="{% url 'ittool:index' %}">ITTOOLS</a></li>
        <li class="nav-item"><a href="#">Download</a></li>
        <li class="nav-item"><a href="{% url 'ittool:plugins' %}">Plugins</a></li>
        <li class="nav-item"><a href="#">About</a></li>
    </ul>
    {% block content %}
    {% endblock content %}
</body>

</html>