{% extends 'ittool/base.html' %}
{% load static %}


{% block title %}ITTOOLS - Eternal Arts{% endblock title %}

{% block content %}
<div class="links">
    <p><a href="https://github.com/eternal-arts" class="link" target="_blank">GitHub</a></p>
    <p><a href="https://discord.gg/akHbNUgphK" class="link" target="_blank">Discord</a></p>
    <p><a href="#copyright" class="link">Copyright</a></p>
</div>

<div class="eternal-arts-info">
    <img class="eternal-arts-icon" src="{% static 'ittool/images/eternal_arts_icon.png' %}" alt="eternal arts icon">
    <p class="eternal-arts-info-title">Eternal Arts</p>
    <p class="eternal-arts-info-text">Eternal Arts is a small team of developer friends. We create mostly
        free and useful programs.
    </p>
    <p class="eternal-arts-info-text" id="count-of-members">At the time of the creation of the site (Aug 30, 2023),
        there
        are 7 people in the team<br>(below are the nicknames in github)</p>
    <div class="eternal-arts-info-list">
        <a>An72ty</a>
        <a>bleudev</a>
        <a>d1xus</a>
        <a>DarkSlipe</a>
        <a>kotazzz</a>
        <a>Kotella107</a>
        <a>moontr3</a>
        <a>TheHakerTech</a>
        <a>Wordexx</a>
    </div>
</div>
{% endblock content %}