{% extends 'ittool/base.html' %}

{% block title %}ITTOOLS - Plugins{% endblock title %}

{% block content %}
{% for plugin in plugins %}
<div class="plugin">
    {% if plugin.icon %}
    <img class="plugin-icon" src="{{ plugin.icon.url }}">
    {% endif %}
    <a class="plugin-name">{{ plugin.dev_name }}\{{ plugin.name }}</a>
    <a class="plugin-version">{{ plugin.version }}</a>
    <a class="plugin-date-added">{{ plugin.date_added|date:'d.m.Y' }}</a>
</div>
{% endfor %}
{% endblock content %}