{% extends 'ittool/base.html' %}

{% block title %}ITTOOLS - Plugins{% endblock title %}

{% block content %}
<form action="{% url 'ittool:plugins' %}" method="get">
    {% csrf_token %}
    <input type="text" name="plugin_or_dev_name" class="input-plugin-or-dev-name"
        placeholder="Write dev name or plugin name">
    <button class="purple-button" type="submit">Search</button>
</form>

<br class="content-separator">

<form action="{% url 'ittool:plugins' %}" method="get" class="input-filters">
    {% csrf_token %}
    <a class="title">Sort by</a>
    <p class="input-filters-label">Dev name
        <input type="checkbox" name="name_filter" id="dev-name" value="dev_name" class="input-filters-input">
    </p>

    <p class="input-filters-label">Name
        <input type="checkbox" name="name_filter" id="name" value="name" class="input-filters-input">
    </p>

    <p class="input-filters-label">First the new
        <input type="radio" name="date_filter" id="first-the-new" value="date_added" class="input-filters-input">
    </p>

    <p class="input-filters-label">First the old
        <input type="radio" name="date_filter" id="first-the-old" value="-date_added" class="input-filters-input">
    </p>

    <input type="hidden" name="past_plugins" value='{{ plugins }}'>

    <button class="purple-button" type="submit">Sort</button>
</form>

{% if plugins %}
{% for plugin in plugins %}
<div class="plugin">
    {% if plugin.icon %}
    <img class="plugin-icon" src="{{ plugin.icon.url }}">
    {% endif %}
    <a class="plugin-name" href="{{ plugin.get_absolute_url }}">{{ plugin.dev_name }}\{{ plugin.name }}</a>
    <a class="plugin-version">{{ plugin.version }}</a>
    <a class="plugin-date-added">{{ plugin.date_added|date:'d.m.Y' }}</a>
</div>
{% endfor %}
{% else %}
<p class="not-found-message">There're no any plugins</p>
{% endif %}
{% endblock content %}