@charset "utf-8";

body {
    background-color: #0d1117;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

div.top-panel {
    width: 100%;
    height: 60px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: white 6px solid;
}

div.content-panel {
    width: 100%;
    height: 560px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

br.content-separator {
    border: 1px solid #161B22;
    width: 100px;
    height: 10px;
    margin: 25px 0px 25px 0px;
}

.top-panel .top-panel-item {
    font-family: Comfortaa;
    font-size: 30px;
    color: white;
    margin: 10px 18px 0px 0px;
    float: right;
    text-decoration: none;
    transition: all .2s;
}

.top-panel-item.visited {
    transition: none;
    background-color: #A500FF;
    margin-top: 5px;

    border-right: #A500FF 10px solid;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    border-left: #A500FF 10px solid;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    border-top: #A500FF 5px solid;
    border-bottom: #A500FF 5px solid;
}

.top-panel .top-panel-item.visited:hover {
    transform: translateY(0px);
}

.top-panel .top-panel-item.logo {
    float: left;
    margin-left: 10px;
}

.top-panel .top-panel-item:hover {
    transform: translateY(-3px);
}

div.plugin {
    background-color: #161B22;
    border-radius: 20px;
    width: 604px;
    height: 84px;
    margin: 25px 0px 0px 0px;
    float: right;
    position: relative;
    right: 28%;
}

.plugin .plugin-name {
    color: #FFFFFF;
    font-family: Comfortaa;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    float: left;
    margin: 10px 0px 10px 0px;
}

.plugin .plugin-version {
    color: #C2C2C2;
    font-family: Comfortaa;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    /* margin: 10px 0px 4px 0px; */
    float: right;
    position: relative;
    top: 50px;
    right: 482px;
}

.plugin .plugin-date-added {
    color: #C2C2C2;
    font-family: Comfortaa;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    float: right;
    margin: 50px 29px 4px 0px;
    position: relative;
    left: 52px;
}

.plugin .plugin-icon {
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    width: 64px;
    height: 64px;
    float: left;
}

.input-plugin-or-dev-name {
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-family: Comfortaa;
    font-size: 20px;
    line-height: 26px;
    width: 330px;
    margin: 25px 0px 0px 30%;
    text-align: left;
}

.purple-button {
    background-color: #A500FF;
    border: none;
    border-right: 5px #A500FF solid;
    border-left: 5px #A500FF solid;
    border-radius: 40px;
    color: #FFFFFF;
    font-family: Comfortaa;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin: 15px 15px 15px 15px;
    transition: all .2s;
}

.purple-button:hover {
    transform: translateY(-3px);
}

.not-found-message {
    margin: 25px 0px 0px 48px;
    color: #FFFFFF;
    font-family: Comfortaa;
    font-size: 25px;
    float: right;
    position: relative;
    right: 37%;
}

.input-filters {
    background-color: #161B22;
    border-radius: 20px;
    position: relative;
    width: 260px;
    height: 70%;
    margin: 25px 48px 30px 30px;
}

.title {
    color: #FFFFFF;
    font-family: Comfortaa;
    font-size: 28px;
    text-align: center;
}

.input-filters .title {
    margin: 20px 70px 10px 70px;
    position: relative;
    top: 20px;
}

.input-filters-label {
    color: #FFFFFF;
    font-family: Comfortaa;
    font-size: 25px;
    line-height: 32px;
    margin: 10px 0px 10px 20px;
    position: relative;
    top: 20px;
}

.input-filters .purple-button {
    width: 90px;
    position: relative;
    top: 25px;
    left: 70px;
}

.input-filters-input {
    width: 22px;
    height: 22px;
    float: right;
    margin-right: 21px;
}

footer .footer {
    font-size: 15px;
    background-color: #161B22;
    color: #c2c2c2;
    font-family: Comfortaa;
    padding: 5px 0px 5px 50px;
}