@charset "utf-8";

body {
    background-color: #0d1117;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

div.top-panel {
    width: 100%;
    height: 30px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

div.content-panel {
    width: 100%;
    height: 560px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

br.content-separator {
    width: 100%;
    height: 5px;
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}