@charset "utf-8";

body {
    font-family: Comfortaa;
    background-color: #0d1117;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 100%;
}

div.top-panel {
    width: 100%;
    height: 60px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: white 6px solid;
}

div.content-panel {
    width: 100%;
    height: 560px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

br.content-separator {
    border: 1px solid #161B22;
    width: 100px;
    height: 10px;
    margin: 25px 0px 25px 0px;
}

.top-panel .top-panel-item {
    font-size: 30px;
    color: white;
    margin: 13px 18px 0px 0px;
    float: right;
    text-decoration: none;
    transition: all .2s;
}

.top-panel .top-panel-item:hover {
    transform: translateY(-3px);
}

.top-panel .top-panel-item:active {
    transform: translateY(-1px);
}

.top-panel-item.visited {
    transition: none;
    background-color: #A500FF;
    margin-top: 8px;

    border-right: #A500FF 10px solid;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    border-left: #A500FF 10px solid;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    border-top: #A500FF 5px solid;
    border-bottom: #A500FF 5px solid;
}

.top-panel .top-panel-item.visited:hover {
    transform: translateY(0px);
}

.top-panel .top-panel-item.logo {
    float: left;
    margin-left: 10px;
}

div.plugin {
    background-color: #161B22;
    border-radius: 20px;
    width: 604px;
    height: 84px;
    margin: 25px 0px 0px 0px;
    position: relative;
    left: 26%;
    bottom: calc(70% + 30px);
}

.plugin .plugin-name {
    color: #FFFFFF;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    float: left;
    margin: 10px 0px 10px 0px;
}

.plugin a.plugin-name {
    text-decoration: none;
}

.plugin a.plugin-name:hover {
    color: #C2C2C2;
}

.plugin .plugin-version {
    color: #C2C2C2;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    float: right;
    position: relative;
    top: 50px;
    right: 482px;
}

.plugin .plugin-date-added {
    color: #C2C2C2;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    float: right;
    margin: 50px 29px 4px 0px;
    position: relative;
    left: 52px;
}

.plugin .plugin-icon {
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    width: 64px;
    height: 64px;
    float: left;
}

.input-plugin-or-dev-name {
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    line-height: 26px;
    width: 330px;
    margin: 25px 0px 0px 30%;
    text-align: left;
}

.purple-button {
    text-decoration: none;
    background-color: #A500FF;
    border: none;
    border-right: 8px #A500FF solid;
    border-left: 8px #A500FF solid;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin: 15px 15px 15px 15px;
    transition: all .2s;
    font-family: Comfortaa;
    position: relative;
}

.purple-button:hover {
    transform: translateY(0);
}

.purple-button:active {
    background-color: #8900d3;
    border-color: #8900d3;
}

.purple-button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #A500FF;
}

.purple-button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.not-found-message {
    margin: 25px 0px 0px 48px;
    color: #FFFFFF;
    font-size: 25px;
    float: right;
    position: relative;
    right: 37%;
    bottom: calc(70% + 30px);
}

.input-filters {
    background-color: #161B22;
    border-radius: 20px;
    position: relative;
    width: 260px;
    height: 70%;
    margin: 25px 48px 30px 30px;
}

.title {
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
}

.input-filters .title {
    margin: 20px 70px 10px 70px;
    position: relative;
    top: 20px;
}

.input-filters-label {
    color: #FFFFFF;
    font-size: 25px;
    line-height: 32px;
    margin: 10px 0px 10px 20px;
    position: relative;
    top: 20px;
}

.input-filters .purple-button {
    width: 90px;
    top: 25px;
    left: 70px;
}

.input-filters-input {
    width: 22px;
    height: 22px;
    float: right;
    margin-right: 21px;
}

#copyright {
    width: 100%;
    float: left;
    margin-top: 100px;
    font-size: 15px;
    background-color: #161B22;
    color: #c2c2c2;
    height: 50px;
}

footer .copyright {
    position: relative;
    top: 20px;
    margin-left: 50px;
    float: left;
}

footer .contact {
    color: #c2c2c2;
    text-decoration: none;
    position: relative;
    top: 20px;
    margin-right: 50px;
    float: right;
}

footer .contact:hover {
    color: #696969;
}

div .links {
    float: left;
    width: 235px;
    height: 60%;
    margin: 70px 0px 0px 0px;
    border-right: 4px solid #FFFFFF;
    position: relative;
}

.link {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 26px;
    transition: all .2s;
    position: relative;
    top: 40px;
    text-align: center;
}

.link:hover {
    padding-left: 10px;
    border-left: 3px #A500FF solid;
}

div.eternal-arts-info {
    margin: 70px 70px 70px 70px;
    float: left;
    color: #FFFFFF;
    background-color: #161B22;
    border-radius: 30px;
    width: 757px;
    height: 358px;
}

.eternal-arts-icon {
    float: left;
    margin: 20px 0px 20px 20px;
    border-radius: 20px;
    width: 128px;
    height: 128px;
}

.eternal-arts-info-title {
    margin: 20px 0px 0px 20px;
    float: left;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
}

.eternal-arts-info-text {
    margin: 0px 0px 10px 20px;
    float: left;
    font-size: 26px;
    line-height: 33px;
    width: 569px;
    text-align: left;
}

#count-of-members.eternal-arts-info-text {
    width: 700px;
}

.eternal-arts-info-list {
    float: left;
    margin: 18px 0px 20px 0px;
    position: relative;
    bottom: 10px;

}

.eternal-arts-info-list a {
    margin: 10px 0px 0px 20px;
    font-size: 26px;
    line-height: 33px;
}


p#downloads-title {
    color: white;
    font-size: 40px;
    margin: 43px 0px 40px 0px;
    text-align: center;
}

div.ittools-version {
    background-color: #161B22;
    border-radius: 20px;
    width: 604px;
    height: 84px;
    margin: 0px auto 20px auto;
}

#download.purple-button {
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    float: left;
}

#download.purple-button::after {
    border-radius: 10px;
}

#download .fa-solid.fa-download.fa-xl {
    position: relative;
    top: 15px;
}

.ittools-version .version-name {
    color: #FFFFFF;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    float: left;
    margin: 10px 0px 10px 0px;
}

.ittools-version .version-type {
    color: #FFFFFF;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    float: left;
    margin: 10px 0px 10px 10px;
}

.ittools-version .version-version {
    color: #C2C2C2;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    float: right;
    position: relative;
    top: 50px;
    right: 482px;
}

.ittools-version .version-date-added {
    color: #C2C2C2;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    float: right;
    margin: 50px 29px 4px 0px;
    position: relative;
    left: 52px;
}

div.preview {
    height: 100vh;
    margin-bottom: 60px;
}

img.background-image {
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

div.preview .slogan {
    color: white;
    font-size: 45px;
    line-height: 58px;
    width: 1001px;
    margin: 55px 0px 0px 50px;
    text-align: left;
    position: relative;
    bottom: 660px;
}

div.preview .short-description {
    color: #FFFFFF;
    font-size: 35px;
    line-height: 45px;
    width: 1001px;
    margin: 50px 0px 0px 50px;
    text-align: left;
    position: relative;
    bottom: 660px;
}

div.preview .purple-button {
    border-top: 3px #A500FF solid;
    border-bottom: 3px #A500FF solid;
    position: relative;
    margin: 115px 0px 0px 50px;
    bottom: 545px;
}

div.description-block .description-image {
    position: relative;
    margin: 40px 20px 40px 50px;
    border-radius: 10px;
    width: 256px;
    height: 256px;
    opacity: 0.5;
    float: left;
}

div.description-block .description-text {
    position: relative;
    color: #FFFFFF;
    font-size: 35px;
    line-height: 45px;
    width: 869px;
    text-align: left;
    float: left;
}

div.description-block .description-image.right {
    margin: 40px 50px 40px 20px;
}

div.description-block .description-text.right {
    margin: 0px 0px 0px 50px;
}

div.description-block #short.description-text {
    top: 30px;
}

div.about {
    position: relative;
    bottom: 100vh;
    text-align: center;
    width: 614px;
    margin-right: auto;
    margin-left: auto;
}

.about-text {
    color: #FFFFFF;
    font-size: 31px;
    line-height: 45px;
}

div.plugin-large {
    background-color: #161B22;
    border-radius: 30px;
    width: 757px;
    height: 332px;
    margin: 50px auto 0px auto;
}

div.plugin-large img.plugin-icon-large {
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    width: 128px;
    height: 128px;
    float: left;
}

div.plugin-large .plugin-name-large {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    float: left;
    margin: 20px 0px 15px 0px;
}

div.plugin-large .plugin-version-large {
    color: #C2C2C2;
    font-size: 30px;
    line-height: 39px;
    width: 569px;
    text-align: left;
    float: right;
    position: relative;
    right: 20px;
    margin: 15px 0px 25px 0px;
}

div.plugin-large .plugin-description-large {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 33px;
    width: 709px;
    text-align: left;
    float: left;
    margin: 0px 0px 0px 20px;
}

div.plugin-large .plugin-date-added-large {
    color: #C2C2C2;
    font-size: 26px;
    line-height: 33px;
    width: 134px;
    text-align: left;
    margin: 15px 20px 20px 0px;
    position: relative;
    top: 279px;
}

.error-message {
    color: #FFFFFF;
    font-size: 40px;
    margin: 50px auto 0px auto;
}